@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REUSABLE */
.flex {display: flex;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}

/* ELEMENT */
body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

main {
    position: relative;
    width: 90rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
}

section {
    width: 50%;
    padding: 5rem;
    transition: all 0.75s;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
  
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

/* CLASSES */

.name {
    position: relative;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .score {
    font-size: 6rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
  }

  .current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 55%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }

  .current-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #ddd;
  }
  
  .current-score {
    font-size: 3.5rem;
  }

  .btn-new {
    top: 4rem;
  }
  .btn-roll {
    top: 34.5rem;
  }
  .btn-hold {
    top: 41rem;
  }

  .dice {
    position: absolute;
    left: 50%;
    top: 15.5rem;
    transform: translateX(-50%);
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }